main_project/datasets/University-Release.zip
main_project/datasets/University-Release.zip:Zone.Identifier
main_project/datasets/University-Release
main_project/checkpoints/*
main_project/datasets/University-Aug
main_project/datasets/University-Release.tar.gz
